/* CSS Document */
aside h3, aside dl {
  position: fixed;
  top: 50%;
  left: 0;
}

.ie7 aside h3, .ie8 aside h3 {
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000)";
}

aside {
  position: relative;
  clear: both;
}
aside h3 {
  z-index: 4;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.8);
  margin-left: 12px;
  padding: 6px 0;
  font-family: century;
  font-size: 15px;
  width: 60px;
  text-align: center;
}
aside h3 i {
  display: block !important;
  font-size: 30px !important;
  color: #fff;
  margin-left: 4.8px;
}
aside dl {
  z-index: 4;
  height: 222px;
  width: 100%;
  margin: -7em 0 0 0;
  padding: 1.25em 0 0;
  display: none;
  background-color: #000;
  height: 168px;
}
aside dl dt {
  font-size: 21px;
  margin: 0.5em 0 0.5em 2em;
  color: #fff;
}
aside dl dt span {
  font-size: 10.8px;
  -webkit-transform: scale(0.9);
  margin-left: 1em;
  font-family: century;
}
aside dl dd {
  color: #666666;
  font-size: 15px;
  line-height: 27px;
  color: #666666;
}
aside dl dd span {
  margin: 3px 1em 0 3em;
}
aside dl dd a {
  color: #fff;
}
aside dl dd a.active {
  color: #2c7eff;
  text-decoration: line-through;
}
aside dl dd a:hover {
  color: #92bcff;
}
aside dl dd a:hover {
  color: #cccccc !important;
}
