@charset "UTF-8";
/* CSS Document */
article .half {
  padding: 0 !important;
  width: 50%;
  min-width: 423px;
  border: none;
}
article .half h5 {
  margin: 0 !important;
  padding: 0 !important;
}
article .half h5 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
article .half div {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  width: 50%;
  margin: -25% 0 0 -25%;
  color: #fff;
  display: none;
  overflow: auto;
}
article .half div h6 {
  font-size: 1.25rem;
  color: #fff;
  border-top: #fff 3px double;
  border-bottom: #fff 3px double;
  margin-bottom: 2rem;
  padding: 1rem;
  overflow: hidden;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
article .half div img {
  width: 50%;
  min-width: 212px;
  height: auto;
}
article .half div .left {
  float: left;
  margin-right: 2rem;
}
article .half div .right {
  float: right;
  margin-left: 2rem;
}
article .half div a {
  display: block;
  text-decoration: none;
  background-color: #2c7eff;
  padding: 1rem;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
article .half div a:hover {
  opacity: 0.8;
}

#close {
  position: fixed;
  top: 5%;
  left: 77.5%;
  z-index: 6;
  font-size: 4rem;
  display: none;
  color: #fff;
  cursor: pointer;
}
