/* CSS Document */
article > div.contents {
  position: relative;
  padding: 3% !important;
}
article > div.contents > .right {
  left: 3%;
}
article > div.contents > .left > section, article > div.contents > left > img {
  background-color: #fff !important;
  position: absolute;
  top: 6%;
  left: 100%;
  z-index: 1;
  width: 47%;
  padding: 0 3% !important;
}
article > div.contents > .left > section h4, article > div.contents > left > img h4 {
  margin: 2rem 0;
  padding: 1rem;
  color: #012052;
  border-top: #012052 3px double;
  border-bottom: #012052 3px double;
}
article > div.contents > .left > section a, article > div.contents > left > img a {
  display: block;
  text-decoration: none;
  background-color: #2c7eff;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
article > div.contents > .left > section a:hover, article > div.contents > left > img a:hover {
  opacity: 0.8;
}
article > div.contents > img.half {
  margin-left: 50%;
  padding: 0 !important;
  width: 47%;
}
article ul {
  position: absolute;
  bottom: 5.5%;
  right: 50%;
  z-index: 2;
  display: table;
  background-color: black;
  text-align: center;
  margin-right: -5rem;
}
article ul li {
  display: table-cell;
  padding: 1rem;
}
article ul li a {
  color: #fff;
}
article ul li a.show {
  color: #2c7eff;
}
