@charset "UTF-8";
/* CSS Document */
h2 {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 2;
}

#global h3 {
  top: 60%;
  left: 50%;
  margin: 0 0 0 -80px;
  background: none;
}
#global dl {
  top: 55.0%;
}

aside h3 {
  top: 60%;
  left: 50%;
  margin-left: 20px;
  background: none;
}
aside dl {
  top: 60%;
}

article {
  overflow: hidden !important;
}
article #button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
article #button li {
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  min-width: 50px;
  min-height: 50px;
  margin-left: 1px;
  opacity: .7;
}
article #back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
article #back div {
  width: 100%;
  height: 100%;
  background: url(img/1.jpg) no-repeat center center;
  background-size: cover;
}
article #back div.inner {
  transform: scale(1.5, 1.5) rotate(15deg);
  transition: all 30s ease 0.5s;
  z-index: 1;
}
article main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
article main > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
}
article section {
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 3;
  color: #fff;
  display: none;
  min-width: 203px;
}
article section header {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: center top no-repeat;
  background-size: cover;
}
article section header h3 {
  margin: 0 6px 6px;
  padding-bottom: 6px;
  border-bottom: #FFF 1px solid;
  font-family: century;
  font-size: 18px;
}
article section header p {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  font-size: 15px;
}
article section p {
  margin-top: 24px !important;
}
article section section {
  padding: 0;
  width: 100%;
  display: none;
  position: relative;
  background: center 20% no-repeat scroll;
  background-size: cover;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 5;
}
article section section header {
  height: auto;
  cursor: auto;
  border-top: #fff 3px double;
  border-bottom: #fff 3px double;
  margin: 280px 0 0;
  padding: 18px 6px;
}
article section section header p {
  font-size: 13.2px;
}
article section section h4 {
  font-family: century;
}
article section section .r {
  margin: 0 10% 0 60%;
  padding: 2%;
  background: url(../img/common/logo.png) no-repeat center 50px;
  display: none;
  overflow: auto;
}
article section section .l {
  margin: 0 60% 0 10%;
  padding: 2%;
  background: url(../img/common/logo.png) no-repeat center 50px;
  display: none;
  overflow: auto;
}
article section section p a, article section section li a {
  color: #333333;
  display: block;
  margin-top: 12px;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
}
article section section p a:hover, article section section li a:hover {
  opacity: 1;
}
article section section dl {
  background: none;
  border: none;
  margin: 0 !important;
  padding: 12px 0 0 !important;
}
article section section dl dt {
  color: #fff;
  float: left;
  width: 7em;
  text-align: left;
  padding-top: 12px;
}
article section section dl dd {
  margin: 0 !important;
  padding: 12px 0 12px 7em;
  overflow: visible;
  text-align: left;
}
article section .close {
  position: absolute;
  top: 70px;
  left: 93%;
  z-index: 6;
  display: none;
  font-size: 72px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
}
article section#news {
  width: 940px !important;
  height: 36px !important;
  margin-left: -530px;
  padding: 12px 0 0 120px;
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 0;
  float: none;
  clear: left;
  overflow: hidden !important;
  background: none !important;
}
article section#news h3 {
  width: 60px !important;
  background-color: #fff;
  color: #333333;
  font-weight: bold;
  text-align: center;
  float: left;
  font-size: 15.6px;
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 3;
  font-family: century;
}
article section#news ul {
  position: relative;
}
article section#news ul li {
  width: 820px;
  color: #fff;
}
article section#news ul li a {
  color: #fff;
  display: inline;
  margin: 0 6px 0 0;
  padding: 0;
  font-size: 12px;
  text-align: left;
  opacity: 1;
  text-decoration: underline;
}
article section#news ul.pager {
  display: none;
}
article section#news .prev {
  position: absolute;
  top: 16.2px;
  left: 70px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
}
article section#news .next {
  position: absolute;
  top: 16.2px;
  left: 90px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
}

#live {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 1;
  margin-left: -139px;
}

#hero {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 1;
  margin-left: -80px;
}

.ie7 section dl, .ie8 section dl {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#00FFFFFF,EndColorStr=#00FFFFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#00FFFFFF,EndColorStr=#00FFFFFF)";
}
