@charset "utf-8";
/* CSS Document */

@import "settings";

aside {
    position: $r;
	clear: both;
	
	h3 {
		@include nvh;
		left: $max * 0.22;
	
		i {
			@include hi;
			margin-left: 0.4rem;
		}
	}
		
		dl {
			@include nv;
			height: 14rem;
			
			dt {
				font-size: 1.5rem;
				margin: 0.5rem 0 1rem 2rem;
				color: $white;
				
				span {
					font-size: 0.9rem;
					-webkit-transform: scale(0.9);
					margin-left: 1rem;
					font-family: century;
				}
			}
		
			dd {
				@include nvli;
				color: darken($white, 60%);
				
				span {
					margin: 3px 1rem 0 3rem;
				}
			
				a {
					@include nva;
					&:hover {
						color: darken($white, 20%) !important;
					}
				}
			}
		}
}