@charset "utf-8";
/* CSS Document */

@import "settings";

footer {
	width: $max;
	color: $white;
	font-size: $FS * 0.9;
	clear: both;
}

	footer ul {
		min-width: 930px;
		margin: 0 auto;
		padding: 10px 0 $FS/2 10px;
		background-color: $black;
	}
		
			footer li a {
				color: #FFF;
			}
				
small {
	display: block;
	margin: $FS*-1.5 $FS*1.5 0 0;
	text-align: right;
}