@charset "utf-8";
/* CSS Document */

@import "settings";
	
article {
	&>div {
		
		&.contents {
			position: $r;
			padding: $max * 0.03 !important;
			
			&>.right {
				left: $max * 0.03;
			}
			
			&>.left>section,&>left>img {
				background-color: $white !important;
				@include abT(6%,100%,1);
				width: $max * 0.47;
				padding: 0 $max*0.03!important;
				
				h4 {
					margin: 2rem 0;
					padding: 1rem;
					color: $navy;
					border-top: $navy 3px double;
					border-bottom: $navy 3px double;
				}
				
				a {
					display: block;
					text-decoration: none;
					background-color: $blue;
					margin-bottom: 2rem;
					padding: 0.5rem;
					text-align: center;
					color: $white;
					overflow: hidden;
					
					&:hover {
						opacity: 0.8;
					}
				}
			}
			
			&>img.half {
				margin-left: $max  / 2;
				padding: 0 !important;
				width: $max * 0.47;
			}
		}
	}
	
	ul {
		@include abB(5.5%,50%,2);
		display: table;
		background-color: rgba($black , 70%);
		text-align: center;
		margin-right: -5rem;
		
		li {
			display: table-cell;
			padding: 1rem;
			
			a {
				color: $white;
				
				&.show {
					color: $blue;
				}
			}
		}
	}
}