@charset "utf-8";
/* CSS Document */

@import "settings";

article .half {
	padding: 0 !important;
	width: $max / 2;
	min-width: 423px;
	border: none;
				
	h5 {
		margin: 0 !important;
		padding: 0 !important;
		
		 img {
			width: $max;
			height: auto;
			cursor: pointer;
		}
	}

	div {
		@include fixT(50%,50%,6);
		width: $max / 2;
		margin: -25% 0 0 -25%;
		color: $white;
		display: none;
		overflow: auto;
				
		h6 {
			font-size: 1.25rem;
			color: $white;
			border-top: $white 3px double;
			border-bottom: $white 3px double;
			margin-bottom: 2rem;
			padding: 1rem;
			overflow: hidden;
			font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
		}
		
		img {
			width: $max / 2;
			min-width: 212px;
			height: auto;
		}
		
		.left {
			float: left;
			margin-right: 2rem;
		}
		
		.right {
			float: right;
			margin-left: 2rem;
		}
		
		a {
			display: block;
			text-decoration: none;
			background-color: $blue;
			padding: 1rem;
			text-align: center;
			color: $white;
			overflow: hidden;
			
			&:hover {
				opacity: 0.8;
			}
		}
	}

}

#close {
	@include fixT(5%,77.5%,6);
	font-size: 4rem;
	display: none;
	color: $white;
	cursor: pointer;
}
	