@charset "utf-8";
/* CSS Document */

@import "settings";

.tail .half,.head .half {
	padding-top : 0 !important;
	margin-left: -$max * 0.76;
	width: $max * 0.42;
	min-width: 355.32px;
	overflow: hidden;
	text-align: center;
	
	h5 {
		margin: 0;
	}
	
	div {
		section {
			margin-top: $FS;
			float: left;
			clear: none;
			
			h6 {
				float: none;
			}
		}
	}
	
	ul {
		clear: both;
	
		.prev {
			float: left;
			margin-left: -$FS * 3;
			display: none;
			margin-top: -$FS * 40;
		}
		
		.next {
			float: right;
			margin-right: -$FS * 3;
			margin-top: -$FS * 40;
		}
		
		a {
			color: $navy;
			
			&:hover {
				color: lighten($navy,30%);
			}
		}
	}
}

table {
	border-collapse: collapse;
	border: lighten($black,70%) solid 1px;
	width: $max;
	
	&.quarter {
		width: $max * 0.24;
		min-width: 203.04px;
	}
	
	caption span {
		font-size: $FS * 1.25;
	}
	
	thead th {
		background-color: lighten($modal,30%);
		color: $white;
	}

	th,td {
		border-right: lighten($black,70%) dotted 1px;
		padding: $FS*0.7 $FS*0.5;
		text-align: center;
		width: auto;
	}
	
	&.battery {
		border: none;
		width: auto;
		border-collapse: separate;
		border-spacing: 0 $FS/2;
		margin-bottom: $FS * 5 !important;
		
		th,td {
			border: none;
			text-align: left;
			padding: $FS*0.4;
			line-height: $max;
		}
		
		.b_n {
			background-color: $modal3;
			color: $white;
		}
		
		.b_e {			
			background-color: lighten($modal,30%);
			color: $white;
		}
	}
	
	&.score thead th {
		background-color: $modal4;
	}
	
	.current {
		background-color: lighten($modal,10%) !important;
		font-weight: bold;
		
		a {
			color: $white;
		}
	}
	
	&.blue {
		
		caption {
			color: $blue !important;
		}
		
		thead th {
			background-color: $modal3;
		}
	}

	&.border {
		caption {
			color: lighten($black,40%) !important;
		}
	}
	
	.back_blue th,.back_blue td {
		background-color: lighten($modal3,35%);
	}			
}

.ntt thead th {
	background-color: $modal3;
	color: #FFF;
}

.enemy thead th {
	background-color: lighten($modal,30%);
	color: #FFF;
}

.one_third {
	width: ($max * 0.698) / 3 !important;
	min-width: 218px !important;
	padding: $FS*2 $max*0.05 $FS*5 $max*0.05 !important;
	border-color: lighten($black,50%);
	border-style: dotted;
	
	 p {
		overflow: hidden;
		text-align: left;
		margin: $FS*2 0 !important;
		padding: 0;
		zoom: 1;
		background: url(/symbol/hp/baseball/games/2016/city/img/mascot/line.gif) left 55px;
		line-height: 28px;
	 }
}

.ie7,.ie8 {
	.back_blue {
		th,td {
			@include Modal3;
		}
	}
	
	.blue thead th,.ntt thead th,.b_n {
		background-color: $modal3;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#992c7eff,EndColorStr=#992c7eff);
		-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#992c7eff,EndColorStr=#992c7eff)";
	}
	
	.current {
		background-color: #454545 !important;
	}
	
	.score thead th {
		@include Modal4;
	}
}
	